/* General Code */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #181613;
}
:root {
    --main-font-links-color: rgb(161, 161, 161);
    --main-font-size-links: 19px;
}
/* Header */

.nave{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header{
    background: url(../images/fondo3.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    align-items: center;
}
.header img{
    width: 190px;
}
.header .navbar-buttons a{
    text-decoration: none;
    margin: 0px 10px;
    color: var(--main-font-links-color);
    font-size: var(--main-font-size-links);
    transition: .5s;
}
.header .navbar-buttons a:hover{
    color: rgb(255, 255, 255);
    transition: .5s;
}
.image-background{
    background: url(../images/background.jpg);
    height: 500px;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    justify-content: center;
}
.slogan{
   margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slogan h2{
    color: white;
    text-align: center;    
    font-size: 40px;
}
.menu{
    display: none;
}
.slogan button{
    margin-top: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.slogan button:hover{
    margin-top: 20px;
    background: white;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.down-button{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 179px;
    cursor: pointer;
    animation-iteration-count: infinite;
    animation-name: down-button-animation;
    animation-duration: 1.5s;
    transition: .5s;
    animation-timing-function: ease-in;
}

@keyframes down-button-animation {
    0%{
       transform: translateY(0px);      
    }
    50%{
        transform: translateY(10px);   
    }
    100%{
        transform: translateY(0px);   
    }
}

.buttons{
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
    /* padding: 20px; */
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 2;
    display: none;
    position: fixed;

}

@keyframes mostrarMenu {
    0%{
        left: -1000px;    
    }
    50%{
        left: 200px;   
    }
    100%{
        left: 0px;     
    }
}
@keyframes cerrarMenu {
    0%{
        left: 0px;    
    }
    50%{
        left: -200px;   
    }
    100%{
        left: -1000px;     
    }
}
.buttons h6{
    text-align: center;
    margin-top: 60px;
}
.buttons p{
   text-align: center;
}
.buttons a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 31px;
    text-align: center;
}
.buttons p.close-menu{
    font-size: 35px;
    color: white;
    cursor: pointer ;
}

.information{
    text-align:  center;
    color:  white;
    margin-top: 10px;
}

.cards-information{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin: 0px 20px;
}
.card-information{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(30, 30, 30);
    padding: 15px;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
}
.card-information h2{
   text-align: center;
   margin-bottom: 10px;
}

.card-information p{
    text-align: left;
    color: rgb(175, 175, 175);
}

.card-information p.price{
    font-size: 20px;
}
.card-information p.price span{
   font-weight: bold;
}

.card-information:hover{
    transform: scale(1.04);
    transition: 0.2s;

}

.contacto{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0%;
  }
  .IMG_Contacto img{
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 0, 50% 100%, 0 100%, 0 0);
  }
  .IMG_Contacto{
    width: 50%;
  }
  .Informacion_CT{
    width: 40%;
    margin:0% 5%;
  }
  .Informacion_CT h2{
    font-size: 2rem;
    text-align:center;
    margin-bottom:20px;
  }
  .Informacion_CT a{
  color: #6b6b6b;
  font-weight: bold;
  }
  .Informacion_CT .enlace_todo a{
    color: #ffffff;
    font-weight: bold;
    }

  
  .foot{
    width: 100%;
    background: black;
    font-family: 'Raleway', sans-serif;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .foot p{
    color:white;
    margin-bottom: 0px;
    text-align:center;
    margin-top: 20px;
  }
  .foot p.Icono{
    font-size:30px;
    margin-top:10px;
  }
  .social_icons a{
   color:white;
   font-size:25px;
   margin: 0px 7px;
  }
  .social_icons a:hover{
    color:rgb(0, 68, 255);
    font-size:25px;
    margin: 0px 7px;
   }
  .social_icons{
    margin: 10px 0px;
  }
 
  .contacto{
      color: rgb(145, 145, 145);
  }