/* General Code */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #181613;
}

:root {
    --main-font-links-color: rgb(161, 161, 161);
    --main-font-size-links: 19px;
}

/* Header */

.nave {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header {
    background: url(../images/fondo3.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    align-items: center;
}

.header img {
    width: 190px;
}

.header .navbar-buttons a {
    text-decoration: none;
    margin: 0px 10px;
    color: var(--main-font-links-color);
    font-size: var(--main-font-size-links);
    transition: .5s;
}

.header .navbar-buttons a:hover {
    color: rgb(255, 255, 255);
    transition: .5s;
}

.image-background {
    background: url(../images/background.jpg);
    height: 500px;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    justify-content: center;
}

.slogan {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan h2 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.menu {
    display: none;
}

.slogan button {
    margin-top: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.slogan button:hover {
    margin-top: 20px;
    background: white;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.down-button {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 179px;
    cursor: pointer;
    animation-iteration-count: infinite;
    animation-name: down-button-animation;
    animation-duration: 1.5s;
    transition: .5s;
    animation-timing-function: ease-in;
}

@keyframes down-button-animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.buttons {
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
    /* padding: 20px; */
    position: absolute;
    /*CAMBIOS */
    height: 100vh;
    top: 0;
    z-index: 2;
    display: none;
    position: fixed;

}

@keyframes mostrarMenu {
    0% {
        left: -1000px;
    }

    50% {
        left: 200px;
    }

    100% {
        left: 0px;
    }
}

@keyframes cerrarMenu {
    0% {
        left: 0px;
    }

    50% {
        left: -200px;
    }

    100% {
        left: -1000px;
    }
}

.buttons h6 {
    text-align: center;
    margin-top: 60px;
}

.buttons p {
    text-align: center;
}

.buttons a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 31px;
    text-align: center;
}

.buttons p.close-menu {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* "WHAT IS TESLA?" SECTION STYLE */
.tittle {
    color: white;
}

.texto-sl {
    color: rgb(185, 185, 185);
    width: 50%;
    margin: 2% 25%;
    text-align: center;
}

/*CARD SERVICES*/
.cards-services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 3% 10%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(185, 185, 185);
    background-color: #0c0c0b;
    padding: 19px;
    transition: .5s;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 220px;
}

.card .icon {
    font-size: 81px;
}

.card h3 {
    font-size: 22px;
}

.card:hover {
    transform: translateY(-5px);
    transition: .3s;
    box-shadow: 0px -1px 20px -1px rgba(222, 222, 222, 0.04);
    -webkit-box-shadow: 0px -1px 20px -1px rgba(222, 222, 222, 0.04);
    -moz-box-shadow: 0px -1px 20px -1px rgba(222, 222, 222, 0.04);
}

.icon a{
    color: rgb(185, 185, 185)
}
.icon :hover{
    color: rgb(209, 209, 209);
}
/*Work With U space*/
.workWithU {
    background-image: url("../images//backgroundWWM.png");
    background-position: center;
    background-size: 50%;
    margin: 30px 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.workWithU h3 {
    margin: 0% 10%;
}

/*OurPortfolio*/

.card-porfolio-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 5%;
    width: 90%;
}

.cardPortfolio {
    width: 350px;
    background-color: #0c0c0b;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;

}

.cardPortfolio .imagePortfolio img {
    width: 100%;
    object-fit: cover;
}

.cardPortfolio .textPortfolio {
    padding: 10px;
}

.cardPortfolio .textPortfolio h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.cardPortfolio .textPortfolio p {
    color: rgb(58, 58, 58);
}

button.buttonPort {
    border: none;
    color: #cfcfcf;
    font-weight: bold;
    background-color: rgb(43, 43, 43);
    padding: 5px 7px;
    border-radius: 10px;
}

.buttonMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.buttonVm {
    border: none;
    color: #cfcfcf;
    font-weight: bold;
    background-color: rgb(43, 43, 43);
    padding: 5px 7px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

/* CONTACT*/
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2% 10%;
}

.contact .info {
    width: 40%;
    color: rgb(255, 255, 255);
    margin-left: 10%;
}

.contact .info h3 {
    font-size: 20px;
    margin: 20px 0px;
}

.contact .info h2 {
    font-size: 50px;
}

.contact .formContact {
    width: 60%;
    color: #cfcfcf;
}

.contact .formContact form div {
    margin: 10px 0px;
}

.contact .formContact form div p {
    margin-left: 3px;
    margin-bottom: 1px;
}

.contact .formContact form div input,
.contact .formContact form div textarea {
    width: 80%;
    padding: 5px 20px;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
    outline: none;
    border-radius: 10px;
}

/* FOOTER STYLE*/
.foot {
    width: 100%;
    background: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot p {
    color: white;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 20px;
}

.foot p.Icono {
    font-size: 30px;
    margin-top: 10px;
}

.social_icons a {
    color: white;
    font-size: 25px;
    margin: 0px 7px;
}

.social_icons a:hover {
    color: rgb(0, 68, 255);
    font-size: 25px;
    margin: 0px 7px;
}

.social_icons {
    margin: 10px 0px;
}

.contacto {
    color: rgb(145, 145, 145);
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.infoProject{
    width: 50%;
    color: #cfcfcf;
}
.infoProject h3{
    letter-spacing: 4px;
}
.imageProject{
    width: 50%;
    animation: 
    animationImage
    4s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    margin: 3% 0%;

}
.imageProject img{
    width: 100%;
    
    transition: ease;
}
img.imageRotate{
    transform: scaleX(-1);
}
.infoProject button{
    margin: 0px;
}

@keyframes animationImage{
    0%{
        transform: translateY(-7px);
    }

    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-7px);
    }
}
/*PREFIX THE STYLE*/
.headernew{
    background: none;
    width: 100%;
    background-size: cover;
    align-items: center;
    height: auto;
}

/*FOUNDER*/
.founder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2% 10%;
}
.founderbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.founderbox .image img{
    width: 100%;
}
.founderbox p{
    color: #888684;
}

.tittle::after{
    content: "";
    display: flex;
    width: 130px;
    height: 3px;
    background-color: white;
 
    position: absolute;
    left: 50%;
    margin-left: -65px;
    margin-top: 5px;
}
.FrecuentQuestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 2% 10%;
}
.informationQuestions{
    width: 60%;
    margin: 2% 4%;
}
.logoQ{
    width: 20%;
}
.logoQ img{
    width: 100%;
}
.question a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    
    font-weight:600;
}
.question{
    margin-top: 20px;
}
.question p{
    color: rgb(138, 138, 138);
}


.downAnimation{
    animation-name: animacionDivDown;
    animation-duration: .5s;
    transition: .3s;
}
.upAnimation{
    animation-name: animacionDivUp;
    animation-duration: .5s;
    transition: .5s;
}
@keyframes animacionDivDown{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animacionDivUp{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(10px);
        opacity: 0;
        
    }
}
.hide{
    display: none;
}
.hecho{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 533px;
    animation-name: animacionEnviado;
    animation-duration: 4s;
    
}
.hecho h3{
    color: rgb(113, 255, 113);
    font-size: 30px;
}



@keyframes animacionEnviado {
    0%{
        display: flex;
        transform: translateY(84px);
    }

    20%{
        display: flex;
        transform: translateY(0px);
    }
    80%{
        display: flex;
        transform: translateY(0px);
    }
    100%{
        display: flex;
        transform: translateY(84px);
    }
}
