@media(max-width: 683px) {
  .header .navbar-buttons a {
    display: none;
  }

  .navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header .navbar-buttons a.menu {
    display: flex;
    color: white;
    position: relative;
    font-size: 27px;
    position: relative;
    right: 48%;
  }

  .header img {
    right: 19px;
    position: relative;
  }

  .slogan h2 {
    color: white;
    text-align: center;
    font-size: 31px;
  }

  .nave {
    width: 100%;
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
}

@media(max-width: 669px) {

  .btnSend {
    font-size: 18px !important;
  }
}

/* 1156 */
@media(max-width: 1156px) {
  .contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0%;
  }

  .IMG_Contacto img {
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    clip-path: polygon(49% 100%, 100% 100%, 100% 0, 0 1%, 0 100%);
    display: none;

  }

  .IMG_Contacto {
    width: 100%;
    margin: 0% 0%;
    background: url(img/Imagen-contacto.jpeg);
  }

  .Informacion_CT {
    width: 80%;
    margin: 0% 10%;
    text-align: justify;
  }

  .Informacion_CT h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .Informacion_CT a {
    color: #6b6b6b;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .Informacion_CT .enlace_todo a {
    color: #ffffff;
    font-weight: bold;
  }

}

@media(max-width:1119px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .contact .info {

    color: rgb(255, 255, 255);


  }

  .contact .formContact {
    width: 70%;
    margin: 0% 15%;
    color: #cfcfcf;
  }

  .contact .formContact {
    width: 90%;
    margin: 0% 5%;
    color: #cfcfcf;
  }

  .contact .formContact form div {
    margin: 10px 0px;
  }

  .contact .formContact form div p {
    margin-left: 3px;
    margin-bottom: 1px;
  }

  .contact .formContact form div input,
  .contact .formContact form div textarea {
    width: 100%;
    padding: 5px 20px;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
    outline: none;
    border-radius: 10px;
  }
}

@media(max-width: 889px) {
  .contact .info {
    width: 70%;
    margin: 0% 15%;
  }

  .contact .info h2 {
    font-size: 40px;
  }

  .contact .info h3 {
    font-size: 18px;
    margin: 20px 0px;
  }

  .contact .formContact {
    width: 90%;
    margin: 0% 5%;
    color: #cfcfcf;
  }

  .texto-sl {
    color: rgb(185, 185, 185);
    width: 90%;
    margin: 2% 5%;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(185, 185, 185);
    background-color: #0c0c0b;
    padding: 19px;
    transition: .5s;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 172px;
    height: 182px;
}
.card .icon {
  font-size: 58px;
}

.card h3 {
  font-size: 19px;
}
}
@media (max-width: 500px){  
.contact .info h2 {
    font-size: 22px;
    text-align: center;
}
.contact .info h3 {
  font-size: 13px;
  margin: 20px 0px;
}
}
