<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla Developers</title>
    <!--Librerias-->
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <link rel="stylesheet" href="../libs/bootstrap.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!--Estilos propios-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/media-queries/styles-media.css">
</head>
<body>
    <header class="header">
        <div class="nave">
            <nav class="navbar-buttons" >
                <div class="boton-open-menu">
                    <a href="#" class="menu" id="menu-abrir"><i class="fas fa-bars"></i></a>
                </div>
                
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <img src="../images/logo v2.png" alt="Tesla developers">
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
            </nav>
        </div>
        <div class="buttons" id="menu">
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>

               <h6>Contacto: 77981569</h6>
               <p>Tesla Developers</p>
               <p class="close-menu" id="menu-cerrar"><i class="fas fa-times-circle"></i></p>
        </div>

        <div class="slogan">
            <h2>Profesionales, innovadores y <br> <strong>aplicaciones web efectivas</strong></h2>

            <div class="boton">
                <button>Ver precios</button>
            </div>
            
        </div>

        <div class="down-button">
            <i class="fas fa-chevron-down"></i>
        </div>
        
    </header>
    
    <section class="information">
        <h2>Nuestros precios</h2>

        <div class="cards-information">
            <div class="card-information">
                <h2>Diseño web basico</h2>
                <p>Diseño de un sistema web publicitario, es decir sin funcionalidades mas que la de promocionar
                    y ofrecer publicidad al negocio en cuestion.
                </p>
                <p>Incluye:</p>
                <p><i class="fas fa-check-circle"></i> Garantia de 2 años</p>
                <p><i class="fas fa-check-circle"></i> Diseño adaptable a moviles</p>
                <p><i class="fas fa-check-circle"></i> Asistencia tecnica</p>
                <p><i class="fas fa-check-circle"></i> Pagina web</p>
                <p class="price">Precio: <span>$500</span></p>
            </div>
            <div class="card-information">
                <h2>Sistema intermedio</h2>
                <p>Diseño de un sistema web con funcionalidades de publicar diferentes productos, y ser administrada
                    por medio de un sistema de escritorio
                </p>
                <p>Incluye:</p>
                <p><i class="fas fa-check-circle"></i> Garantia de 5 años</p>
                <p><i class="fas fa-check-circle"></i> Diseño adaptable a moviles</p>
                <p><i class="fas fa-check-circle"></i> Asistencia tecnica</p>
                <p><i class="fas fa-check-circle"></i> Aplicacion web y sistema de escritorio</p>
                <p class="price">Precio: <span>$2000</span></p>
            </div>
            <div class="card-information">
                <h2>Sistema premium</h2>
                <p>Diseño de un sistema web con funcionalidades de publicacion, sistema web de control de la pagina y administracion de la tienda
                    con facturacion.
                </p>
                <p>Incluye:</p>
                <p><i class="fas fa-check-circle"></i> Garantia de 7 años</p>
                <p><i class="fas fa-check-circle"></i> Diseño adaptable a moviles</p>
                <p><i class="fas fa-check-circle"></i> Asistencia tecnica</p>
                <p><i class="fas fa-check-circle"></i> Aplicacion web y sistema de escritorio</p>
                <p class="price">Precio: <span>$4000</span></p>
            </div>
        </div>
    </section>

    <article class="contacto">
        <div class="IMG_Contacto">
            <img src="../images/Imagen-contacto.jpeg" alt="Imagen_Contacto">
        </div>
        <div class="Informacion_CT">
            <h2>CONTACTANOS <i class="fas fa-headset"></i></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nisi dignissimos! Quam explicabo nam
                exercitationem itaque, veritatis natus nesciunt modi nostrum fuga, provident, deserunt non quibusdam
                dolore accusamus. Sequi, corporis.</p>


            
                <p> <i class="fas fa-phone"></i> Telefono: <strong>+503 7798 1569</strong></p>
            
           
                <p><i class="fas fa-envelope"></i> Correo: <strong>WebDesignTesla@gmail.com</strong></p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nisi dignissimos! Quam explicabo nam
                    exercitationem itaque, veritatis natus nesciunt modi nostrum fuga, provident, deserunt non quibusdam
                    dolore accusamus. Sequi, corporis.</p>
                   
        </div>
    </article>

    <footer class="foot">
        <p>Tesla Web Design - Empresa de desarrollo de software junior</p>
    
    <!-- <p class="Icono"><i class="fas fa-bolt"></i></p> -->
    <div class="social_icons">
        <a href="https://www.facebook.com/Tesla-Web-Design-107887560620137"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCKuRlVE9iNIHmOPGdJEGphQ"><i class="fab fa-youtube"></i></a>
        <a href="https://api.whatsapp.com/send?phone=50377981569""><i class="fab fa-whatsapp"></i></a>
    </div>
    </footer>

    <!--SCRIPTS PROPIOS-->
    <script src="../js/main.js"></script>
</body>
</html>