<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla Developers</title>
    <!--Librerias-->
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <link rel="stylesheet" href="../libs/bootstrap.js">
    <script src="https://kit.fontawesome.com/79aabc3f90.js" crossorigin="anonymous"></script>

    <!--Estilos propios-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/media-queries/styles-media.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="nave">
            <nav class="navbar-buttons" >
               
                <a href="index.html">Home</a>
                <a href="services.html">Services</a>
                <img src="../images/logo v2.png" alt="Tesla developers">
                <a href="#">About Us</a>
                <a href="#">Contact</a>
                <div class="boton-open-menu">
                    <a href="#" class="menu" id="menu-abrir"><i class="fas fa-bars"></i></a>
                </div>
                
            </nav>
        </div>
        <div class="buttons" id="menu">
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>

               <h6>Contact: +503 7798-1569</h6>
               <p>Tesla Developers</p>
               <p class="close-menu" id="menu-cerrar"><i class="fas fa-times-circle"></i></p>
        </div>

        <div class="slogan">
            <h2>Professional, innovative and<br> <strong>effective web applications</strong></h2>

            <div class="boton">
                <button>See more</button>
            </div>
            
        </div>

        <div class="down-button" id="button-down">
            <i class="fas fa-chevron-down"></i>
        </div>
        
    </header>
    <!-- What is Tesla -->
    <section>
        <h2 class="text-center tittle">What is Tesla?</h2>

        <p class="texto-sl">
            Tesla is a company founded with the purpose of innovating in the technological field and providing support to
            companies in a way that makes them stand out in the commercial technology field. However, also in the search
            of creative and dynamic solutions that help the company to improve.
        </p>
    </section>
    <!-- Services -->
    <div class="cards-services">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <h3>Servicio eficaz</h3>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-mobile"></i>
            </div>
            <h3>Diseño adaptable</h3>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-pen"></i>
            </div>
            <h3>Personalizable</h3>
        </div>
    </div>
    <!-- SloganWorkWithU -->
    <!-- Footer -->
    <footer class="foot">
        <p>Tesla Web Design - Junior Software Development Company</p>
    
    <!-- <p class="Icono"><i class="fas fa-bolt"></i></p> -->
    <div class="social_icons">
        <a target="_blank"  href="https://www.facebook.com/Tesla-Web-Design-107887560620137"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://www.instagram.com/josss.ch/"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCKuRlVE9iNIHmOPGdJEGphQ"><i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=50377981569""><i class="fab fa-whatsapp"></i></a>
    </div>
    </footer>

    <!--SCRIPTS PROPIOS-->
    <script src="../js/main.js"></script>
</body>
</html>