<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <!--Librerias-->
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <link rel="stylesheet" href="../libs/bootstrap.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/media-queries/styles-media.css">
</head>

<body>

    <!-- HEADER -->
    <header class="header headernew">
        <div class="nave">
            <nav class="navbar-buttons">

                <a href="index.html">Home</a>
                <a href="Portfolio.html">Portfolio</a>
                <img src="../images/logo v2.png" alt="Tesla developers">
                <a href="AboutUs.html">About Us</a>
                <a href="#">Contact</a>
                <div class="boton-open-menu">
                    <a href="#" class="menu" id="menu-abrir"><i class="fas fa-bars"></i></a>
                </div>

            </nav>
        </div>
        <div class="buttons" id="menu">
            <a href="index.html">Home</a>
            <a href="Portfolio.html">Portfolio</a>
            <a href="AboutUs.html">About Us</a>
            <a href="#">Contact</a>

            <h6>Contact: +503 7798-1569</h6>
            <p>Tesla Developers</p>
            <p class="close-menu" id="menu-cerrar"><i class="fas fa-times-circle"></i></p>
        </div>



    </header>
    <!-- What is Tesla -->
    <section class="mt-5">
        <h2 class="text-center tittle">Portfolio</h2>

        <p class="texto-sl">

            Look at the projects we have worked on to get an idea of ​​our work and our performance!
        </p>
    </section>
    <!-- Projects -->
    <main class="container" id="project">
        <div class="project">
            <div class="imageProject">
                <img src="../images/PetalosLiterarios.png" alt="">
            </div>
            <div class="infoProject">
                <h3>Petalos Literarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium veritatis aliquam architecto
                    perspiciatis consequuntur tempore nihil molestiae, labore reiciendis illum quae iure blanditiis.
                    Molestiae sunt quos beatae nobis, dicta esse!</p>
                <button class="buttonPort">Read more</button>
            </div>


        </div>
        <div class="project">
            <div class="imageProject">
                <img src="../images/PetalosLiterarios.png" alt="">
            </div>
            <div class="infoProject">
                <h3>Petalos Literarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium veritatis aliquam architecto
                    perspiciatis consequuntur tempore nihil molestiae, labore reiciendis illum quae iure blanditiis.
                    Molestiae sunt quos beatae nobis, dicta esse!</p>
                <button class="buttonPort">Read more</button>
            </div>


        </div>
        <div class="project">
            <div class="imageProject">
                <img src="../images/PetalosLiterarios.png" alt="">
            </div>
            <div class="infoProject">
                <h3>Petalos Literarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium veritatis aliquam architecto
                    perspiciatis consequuntur tempore nihil molestiae, labore reiciendis illum quae iure blanditiis.
                    Molestiae sunt quos beatae nobis, dicta esse!</p>
                <button class="buttonPort">Read more</button>
            </div>


        </div>
        <div class="project">
            <div class="imageProject">
                <img src="../images/PetalosLiterarios.png" alt="">
            </div>
            <div class="infoProject">
                <h3>Petalos Literarios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium veritatis aliquam architecto
                    perspiciatis consequuntur tempore nihil molestiae, labore reiciendis illum quae iure blanditiis.
                    Molestiae sunt quos beatae nobis, dicta esse!</p>
                <button class="buttonPort">Read more</button>
            </div>


        </div>

    </main>

    <!-- SloganWorkWithU -->
    <div class="workWithU">
        <h3>Haz crecer tu negocio, trabaja con nosotros!</h3>
    </div>

    <!-- Footer -->
    <footer class="foot">
        <p>Tesla Web Design - Junior Software Development Company</p>

        <!-- <p class="Icono"><i class="fas fa-bolt"></i></p> -->
        <div class="social_icons">
            <a target="_blank" href="https://www.facebook.com/Tesla-Web-Design-107887560620137"><i
                    class="fab fa-facebook-square"></i></a>
            <a target="_blank" href="https://www.instagram.com/josss.ch/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCKuRlVE9iNIHmOPGdJEGphQ"><i
                    class="fab fa-youtube"></i></a>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=50377981569""><i class=" fab
                fa-whatsapp"></i></a>
        </div>
    </footer>
    <!-- SCRIPT DE MOVIMIENTO -->
    <script src="../js/main.js"></script>
    <script>
        //MOVIMIENTOS DE OBJETOS HTML
        var project = document.getElementById('project');
       
        if (window.innerWidth > 992) {
            for (let i = 0; i <= project.childElementCount - 1; i++) {

                var text = project.children[i].children[0];

                if (i % 2 == 0) {
                    project.children[i].insertBefore(text, null);

                } else {
                    project.children[i].children[0].children[0].classList.add("imageRotate");
                }
            }
        }

    </script>
    
</body>

</html>